/** Just testing Jenkins for Rackspace II

 * @file
 * Subtheme specific CSS.
 */
 #block-mainnavigation-2 ul#superfish-main {width: 72em; }
 #block-mainnavigation-2 ul#superfish-main > li { width: 14em; }
 #block-mainnavigation-2 ul#superfish-main > li,#block-mainnavigation-2 ul#superfish-main li.sf-depth-1.menuparent ul,#block-mainnavigation-2 ul#superfish-main li.sf-depth-1.menuparent ul li {
     background-color: #fff;
    }
    #block-mainnavigation-2 ul#superfish-main li.sf-depth-1.menuparent{ height: 4em; }
   div.field__label.leftTable {float: left;display: block; width: 75%; border: 1px #ccc solid; height: 69px;padding-top: 18px; border-width: 1px 1px 0 1px; }
    div.field__item.rightTable {float: left; display: block; width: 24%; border: 1px #ccc solid; border-width: 1px 1px 0 0;}
    h3.field__label {font-size: 120%;}
    .floatLeft {float:left;
        width: min-content;
      }
      .field--name-field-d-o-office-name {font-weight: bold; font-size: 110%;}
      .field--name-field-other-contacts > .field__label {font-weight: bold; font-size: 110%; margin-top: 18px; }
      .paragraph--type--d-o-contacts {margin: 18px 0;}
      .paragraph--type--d-o-contacts::after,.paragraph--type--disability-office-address-es-::after {
        content: "";
        clear: both;
        display: table;
      }
      .paragraph--type--d-o-contacts > div > .field__label { font-weight: bold; float: left; width: 30%; }
      .paragraph--type--d-o-contacts > div > .field__item { float: left; width: 70%; }
      .paragraph--type--disability-office-address-es- > div > .field__label {font-weight: bold;}
      .field--name-field-d-o-city,.field--name-field-d-o-state,.field--name-field-col-u-city, .field--name-field-college-university-state {white-space: nowrap; }
      .paragraph--type--disability-office-address-es- > div.field--name-field-disability-office-phone .field__label,.paragraph--type--disability-office-address-es- > div.field--name-field-disability-office-email-ad .field__label, .paragraph--type--disability-office-address-es- > div.field--name-field-disability-office-website .field__label { float: left; width: 30%;}
      .paragraph--type--disability-office-address-es- > div.field--name-field-disability-office-phone .field__item, .paragraph--type--disability-office-address-es- > div.field--name-field-disability-office-email-ad .field__item,.paragraph--type--disability-office-address-es- > div.field--name-field-disability-office-website .field__item { float: left; width: 70%; }
      ul.minusTop {margin-top: -1rem;}
      .field--name-field-2-or-4-year-institution .field__label,.field--name-field-level-of-degree-offered .field__label,.field--name-field-student-population .field__label,.field--name-field-student-population-undergr .field__label,.field--name-field-number-of-stud-exact .field__label,.field--name-field-minority-serving- .field__label {font-weight: bold; width:45%;}
      .field--name-field-2-or-4-year-institution .field__item,.field--name-field-student-population .field__item,.field--name-field-student-population-undergr .field__item,.field--name-field-number-of-stud-exact .field__item,.field--name-field-minority-serving- .field__item { width:40%;}
      .field--name-field-level-of-degree-offered .field__items { display: inline-block; width:40%;}
      .field--name-field-type-of-institution {margin-left: 46%}
      